/
<template>
  <header class="header">
    <div class="container">
      <div>
        <router-link
          :to="item.path"
          v-for="(item, index) in navData"
          :key="index"
          >{{ item?.meta?.title }}
        </router-link>
        <!-- 动态请求的导航 -->
        <router-link
          :to="'/page/' + item.path"
          v-for="item in navList"
          :key="item.id"
          >{{ item.name }}
        </router-link>
      </div>
      <div class="boxspan">
        <span class="spp">
          <languages-icon />
        </span>
        <span class="spp" @click="handleChangeTheme">
          <component :is="iconName"></component>
        </span>
      </div>
    </div>
  </header>
</template>

<script setup lang="ts">
import { computed, onMounted, ref } from "vue"
import { useRouter } from "vue-router"
import useStore from "@/store" //动态
import { storeToRefs } from "pinia"
const store = useStore() //动态
const { navList }: any = storeToRefs(store)

const {
  options: { routes },
} = useRouter()
const iconName = ref("dayLight-icon")
const init = () => {
  store.getNavData()
}
onMounted(() => {
  init()
}) //动态

const navData = computed(() => {
  return routes.filter((item) => item?.meta?.nav)
})
const handleChangeTheme = () => {
  document.documentElement.classList.toggle("dark")
  iconName.value = document.documentElement.classList.contains("dark")
    ? "night-icon"
    : "dayLight-icon"
}
</script>

<style lang="less" scoped>
.boxspan {
  display: flex;
  align-items: center;
  justify-content: space-around;

  .spp {
    display: block;
    width: 50px;
  }
}

.header {
  width: 100%;
  height: 60px;
  background: var(--bg-color);
  border-bottom: 1px solid var(--border-color);

  .container {
    height: 100%;
    .display-flex-row-mixin(space-between, center);
  }
}
</style>
